<ng-container *ngIf="!editMode">
  <td class="text-center">
    <div [ngbPopover]="sensor.typeLabel" triggers="mouseenter:mouseleave"
    >
      <app-custom-icon *ngFor="let icon of sensor.typeIcons" [iconName]="icon"></app-custom-icon>
    </div>
  </td>
  <td>
    {{sensor.name}}
  </td>
  <td>{{sensor.pin || "?"}}</td>
  <td>
    <a [routerLink]="'/plant-details/'+sensor.currentPlantId" *ngIf="sensor.currentPlantId">
      {{sensor.currentPlantName}}
    </a>
    <span *ngIf="!sensor.currentPlantId">
      {{sensor.currentPlantName}}
    </span>
  </td>
  <td class="text-center">
    <div [ngbPopover]="sensor.stateLabel" triggers="mouseenter:mouseleave">
      <fa-icon [icon]="sensor.stateIcon"></fa-icon>
    </div>
  </td>
  <td class="action-cell">
      <fa-icon class="blue action-icon" [icon]="['fas','edit']" (click)="switchMode(true)"></fa-icon>
      <fa-icon class="red ml-3 action-icon" [icon]="['fas','trash-alt']" (click)="deleteSensor()"></fa-icon>
  </td>
</ng-container>
<ng-container *ngIf="editMode">
  <td class="text-center">
    <div [ngbPopover]="sensor.typeLabel" triggers="mouseenter:mouseleave"
    >
      <app-custom-icon *ngFor="let icon of sensor.typeIcons" [iconName]="icon"></app-custom-icon>
    </div>
  </td>
  <td>
    <input type="text" name="name-{{editSensor.id}}" [(ngModel)]="editSensor.name" class="form-control">
  </td>
  <td>
    <input type="text" name="pin-{{editSensor.id}}" [(ngModel)]="editSensor.pin" class="form-control" maxlength="2">
  </td>
  <td>
    <select class="custom-select" name="plantId-{{editSensor.id}}" [(ngModel)]="editSensor.currentPlantId">
      <option value="">None</option>
      <option *ngFor="let plant of plants" [value]="plant.id">{{plant.name}}</option>
    </select>
  </td>
  <td class="text-center">
    <div [ngbPopover]="sensor.stateLabel" triggers="mouseenter:mouseleave">
      <fa-icon [icon]="sensor.stateIcon"></fa-icon>
    </div>
  </td>
  <td class="action-cell">
      <fa-icon class="green action-icon" [icon]="['fas','save']" (click)="saveEdit()"></fa-icon>
      <fa-icon class="orange action-icon ml-3" [icon]="['fas','times-circle']" (click)="switchMode(false)"></fa-icon>
  </td>
</ng-container>
