.custom-icon{

  width: 1em;
  height: 1em;
  display: none;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: text-top;
  margin-right: .25em;

  &.humidity{
    background-image: url('/assets/custom-icons/humidity.png');
    display: inline-block;
  }

  &.temperature{
    background-image: url('/assets/custom-icons/temperature.png');
    display: inline-block;
  }

  &.soil{
    background-image: url('/assets/custom-icons/soil.png');
    display: inline-block;
  }

  &.air {
    background-image: url('/assets/custom-icons/air.png');
    display: inline-block;
  }

  &.light {
    background-image: url('/assets/custom-icons/light.png');
    display: inline-block;
  }

  &.water {
    background-image: url('/assets/custom-icons/water.png');
    display: inline-block;
  }

}