/* You can add global styles to this file, and also import other style files */
.action-icon{

  cursor: pointer;
  color: rgb(25,25,25);
  transition: color 150ms linear;

  &.blue:hover{
    color: rgb(40, 0, 220);
  }

  &.green:hover{
    color: rgb(0, 172, 0);
  }

  &.orange:hover{
    color: rgb(210, 75, 0);
  }

  &.red:hover{
    color: rgb(220, 0, 0);
  }

  &.purple:hover{
    color: rgb(150, 0, 130);
  }

  &.yellow:hover{
    color: rgb(220, 200, 0);
  }

}

.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
    text-decoration: inherit;
  }
}