<div class="card h-100">
  <div class="card-header">
    <a [routerLink]="'/plant-details/'+plant.id" class="link-unstyled">
      <fa-icon [icon]="['fas','leaf']" class="mr-2"></fa-icon><b>{{plant.name}}</b>
    </a>
  </div>
  <!-- <img class="card-img-top" [src]="plant.icon" alt=""> -->
  <div class="card-body">
    <div class="row h-100">
      <div class="col-6 align-self-center text-center">
        <img [src]="plant.icon" class="plant-icon">
      </div>
      <div class="col-6 h-100">
          <p *ngIf="plantData.airTemperature">{{plantData.airTemperature}}°<br>
          <span class="small"><b>Air Temperature</b></span></p> 
          <p *ngIf="plantData.airHumidity">{{plantData.airHumidity}}%<br>
          <span class="small"><b>Air Humidity</b></span></p> 
          <p *ngIf="plantData.soilTemperature">{{plantData.soilTemperature}}°<br>
          <span class="small"><b>Soil Temperature</b></span></p> 
          <p *ngIf="plantData.soilMoisture">{{plantData.soilMoisture}}<br>
          <span class="small"><b>Soil Moisture</b></span></p> 
          <p *ngIf="plantData.lightIntensity">{{plantData.lightIntensity}}<br>
          <span class="small"><b>Light Intensity</b></span></p> 
          <p *ngIf="plantData.lastWatering">{{plantData.lastWatering}}<br>
          <span class="small"><b>Last Watered</b></span></p>
          <p *ngIf="plantData.lastHealth">{{plantData.lastHealth}}<br>
          <span class="small"><b>Last Health Status</b></span></p>
          <p *ngIf="noPlantData" class="mt-5">No current data for this plant
          </p> 
      </div>
    </div>
  </div>
  <div class="card-footer pt-1 pb-1">
      <button type="button" class="btn btn-link" [routerLink]="'/plant-details/' + plant.id">Details</button>
    <fa-icon [icon]="['fas','trash-alt']" class="float-right red action-icon mt-2" (click)="deletePlant()"></fa-icon>
  </div>

</div>
