<div class="card h-100">
  <div class="card-header">
    <a [routerLink]="'/plant-details/'+plant.id" class="link-unstyled">
      <fa-icon [icon]="['fas','leaf']" class="mr-2"></fa-icon><b>{{plant.name}}</b>
    </a>
  </div>
  <!-- <img class="card-img-top" [src]="plant.icon" alt=""> -->
  <div class="card-body p-0">
    <div class="plant-icon" [routerLink]="'/plant-details/'+plant.id" [ngStyle]="{ 'background-image': 'url(' + plant.icon + ')'}">
    </div>
    <div class="row m-3" *ngIf="plantDataIter.length > 3">
      <div class="col-6 h-100">
        <ng-container *ngFor="let plantDataItem of plantDataIter; let i = index">
            <p *ngIf="i <= (plantDataIter.length / 2)">{{plantDataItem[0]}}<br>
            <span class="small"><b>{{plantDataItem[1]}}</b></span></p> 
        </ng-container>
      </div>
      <div class="col-6 h-100">
        <ng-container *ngFor="let plantDataItem of plantDataIter; let i = index">
            <p *ngIf="i > (plantDataIter.length / 2)">{{plantDataItem[0]}}<br>
            <span class="small"><b>{{plantDataItem[1]}}</b></span></p> 
        </ng-container>
      </div>
    </div>
    <div class="row m-3" *ngIf="plantDataIter.length <= 3 && plantDataIter.length > 0">
      <div class="col-12 h-100">
        <ng-container *ngFor="let plantDataItem of plantDataIter;">
          <p>{{plantDataItem[0]}}<br>
          <span class="small"><b>{{plantDataItem[1]}}</b></span></p> 
        </ng-container>
      </div>
    </div>
    <div class="row m-3" *ngIf="plantDataIter.length === 0">
      <div class="col-12 h-100 ">
        <p>No data for this plant.<br>
        <span class="small"><b>Add sensors to collect data</b></span></p>
      </div>
    </div>
  </div>
  <div class="card-footer pt-1 pb-1">
      <button type="button" class="btn btn-link" [routerLink]="'/plant-details/' + plant.id">Details</button>
    <fa-icon [icon]="['fas','trash-alt']" class="float-right red action-icon mt-2" (click)="deletePlant()"></fa-icon>
  </div>

</div>
