.canvas-container {

  margin: auto;
  position: relative;
  padding: 0;

  .chartUI{

    position: absolute;
    left: 0;
    top: 0;
    // border: 1px solid black;
    pointer-events: none;

  }

}

.plant-icon {

  width: 80%;
  display: block;
  margin: .5em auto;

}

.plant-description{
  white-space: pre-wrap;
}

.back-link {

  font-size: .75em;
  margin-bottom: 0;
  margin-right: 140px;

}
