<div class="card">
  <div class="card-header">
    <b>{{plant.name}}</b>
  </div>
  <!-- <img class="card-img-top" [src]="plant.icon" alt=""> -->
  <div class="card-body" *ngIf="currentView === 'data'">
    <p *ngIf="plantData.airTemperature">{{plantData.airTemperature}}°<br>
    <span class="small"><b>Air Temperature</b></span></p> 
    <p *ngIf="plantData.airHumidity">{{plantData.airHumidity}}%<br>
    <span class="small"><b>Air Humidity</b></span></p> 
    <p *ngIf="plantData.soilTemperature">{{plantData.soilTemperature}}°<br>
    <span class="small"><b>Soil Temperature</b></span></p> 
    <p *ngIf="plantData.soilMoisture">{{plantData.soilMoisture}}<br>
    <span class="small"><b>Soil Moisture</b></span></p> 
    <p *ngIf="plantData.lightIntensity">{{plantData.lightIntensity}}<br>
    <span class="small"><b>Light Intensity</b></span></p> 
    <p *ngIf="plantData.lastWatering">{{plantData.lastWatering}}<br>
    <span class="small"><b>Last Watered</b></span></p> 

    <a style="cursor: pointer" tabindex="0" (click)="updateView('sensors')" class="card-link">Sensors</a>
    <a [routerLink]="['history/' + plant.id]" class="card-link">History</a>
    <a style="cursor: pointer"  tabindex="0" (click)="updateCurrentPlantData()" class="card-link">Refresh</a>
  </div>

  <div class="card-body" *ngIf="currentView === 'sensors'">
    <table class="table">
      <thead>
        <tr>
          <th>Sensor</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sensor of sensors">
          <td>
            <span [ngbPopover]="sensorStateTooltip(sensor)" triggers="mouseenter:mouseleave"><span [ngClass]="sensorStateClass(sensor)" ></span>{{sensor.name}}</span>
          </td>
          <td>
            <span [ngbPopover]="sensorTypeTooltip(sensor)" triggers="mouseenter:mouseleave">
              {{sensor.type}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <a style="cursor: pointer" tabindex="0" (click)="updateView('data')" class="card-link">Data</a>
    <a [routerLink]="['history/' + plant.id]" class="card-link">History</a>
    <a style="cursor: pointer"  tabindex="0" (click)="updateCurrentPlantData()" class="card-link">Refresh</a>
  </div>

</div>
