<div class="card h-100">
  <div class="card-header">
    <b>{{plant.name}}</b>
    <button class="btn btn-sm btn-outline-danger float-right" (click)="deletePlant()">Delete</button>
  </div>
  <!-- <img class="card-img-top" [src]="plant.icon" alt=""> -->
  <div class="card-body" *ngIf="currentView === 'data'">
    <div class="row h-100">
      <div class="col-6 align-self-center text-center">
        <img [src]="plant.icon" class="plant-icon">
      </div>
      <div class="col-6 h-100">
          <p *ngIf="plantData.airTemperature">{{plantData.airTemperature}}°<br>
          <span class="small"><b>Air Temperature</b></span></p> 
          <p *ngIf="plantData.airHumidity">{{plantData.airHumidity}}%<br>
          <span class="small"><b>Air Humidity</b></span></p> 
          <p *ngIf="plantData.soilTemperature">{{plantData.soilTemperature}}°<br>
          <span class="small"><b>Soil Temperature</b></span></p> 
          <p *ngIf="plantData.soilMoisture">{{plantData.soilMoisture}}<br>
          <span class="small"><b>Soil Moisture</b></span></p> 
          <p *ngIf="plantData.lightIntensity">{{plantData.lightIntensity}}<br>
          <span class="small"><b>Light Intensity</b></span></p> 
          <p *ngIf="plantData.lastWatering">{{plantData.lastWatering}}<br>
          <span class="small"><b>Last Watered</b></span></p> 
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="currentView === 'sensors'">
    <table class="table">
      <thead>
        <tr>
          <th>Sensor</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sensor of sensors">
          <td>
            <span [ngbPopover]="sensorStateTooltip(sensor)" triggers="mouseenter:mouseleave"><span [ngClass]="sensorStateClass(sensor)" ></span>{{sensor.name}}</span>
          </td>
          <td>
            <span [ngbPopover]="sensorTypeTooltip(sensor)" triggers="mouseenter:mouseleave">
              {{sensor.type}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pt-1 pb-1">
    <button type="button" class="btn btn-link" *ngIf="currentView == 'data'" (click)="updateView('sensors')">Sensors</button>
    <button type="button" class="btn btn-link" *ngIf="currentView == 'sensors'" (click)="updateView('data')">Data</button>
      <button type="button" class="btn btn-link" [routerLink]="'plant-details/' + plant.id">Details</button>
    <button type="button" class="btn btn-link" (click)="updateCurrentPlantData()">Refresh</button>
  </div>

</div>
