.click-resume,
.click-measure,
.click-pause,
.click-delete,
.click-link,
.click-unlink {

  cursor: pointer;
  color: rgb(25,25,25);
  transition: color 100ms linear;
}

.click-resume:hover{
  color: rgb(0, 172, 0);
}

.click-pause:hover{
  color: rgb(220, 200, 0);
}

.click-measure:hover {
  color: rgb(150, 0, 130);
}

.click-unlink:hover {
  color: rgb(210, 75, 0);
}

.click-delete:hover {
  color: rgb(220, 0, 0);
}

.click-link:hover {
  color: rgb(40, 0, 220);
}