.footer {

  position: fixed;
  bottom: 0;
  pointer-events: none;

  .small {

    background-image: linear-gradient(to top, rgba(255,255,255,.6) 0%, rgba(255,255,255,.6) 70%, rgba(255,255,255,0)  100%);

  }

}