<div class="card mb-3">

  <div class="card-header">
    <b>Linked Sensors</b>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th (click)="activeSensorsTable.toggleSort('type')" width="17%" class="sorting-header text-center">
            Type 
            <fa-icon class="ml-2" *ngIf="activeSensorsTable.isSortedBy('type')" [icon]="activeSensorsTable.getSortIcon('type')"></fa-icon>
          </th>

          <th (click)="activeSensorsTable.toggleSort('name')" width="*" class="sorting-header">
            Name 
            <fa-icon class="ml-2" *ngIf="activeSensorsTable.isSortedBy('name')" [icon]="activeSensorsTable.getSortIcon('name')"></fa-icon>
          </th>
          <th (click)="activeSensorsTable.toggleSort('state')" width="15%" class="sorting-header text-center">
            Status 
            <fa-icon class="ml-2" *ngIf="activeSensorsTable.isSortedBy('state')" [icon]="activeSensorsTable.getSortIcon('state')"></fa-icon>
          </th>
          <th width="33%" class="text-center">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sensor of activeSensors">
          <td class="text-center">
            <div [ngbPopover]="sensor.typeLabel" triggers="mouseenter:mouseleave"
            >
              <app-custom-icon *ngFor="let icon of sensor.typeIcons" [iconName]="icon"></app-custom-icon>
            </div>
          </td>
          <td>
              {{sensor.name}}
          </td>
          <td class="text-center">
            <div [ngbPopover]="sensor.stateLabel" triggers="mouseenter:mouseleave">
              <fa-icon [icon]="stateToIcon(sensor.state)"></fa-icon>
            </div>
          </td>
          <td class="text-center">
            <div *ngIf="sensor.state === 0" class="d-inline-block" ngbPopover="Check Sensor Status" triggers="mouseenter:mouseleave" (click)="checkSensor(sensor)">
              <fa-icon class="green action-icon" [icon]="['fas','sync-alt']"></fa-icon>
            </div>
            <div *ngIf="sensor.state === 1" class="d-inline-block" ngbPopover="Resume Sensor Measuring" triggers="mouseenter:mouseleave" (click)="updateSensorState(sensor, true)">
              <fa-icon class="green action-icon" [icon]="['fas','play']"></fa-icon>
            </div>
            <div *ngIf="sensor.state === 2" class="d-inline-block" ngbPopover="Pause Sensor Measuring" triggers="mouseenter:mouseleave" (click)="updateSensorState(sensor, false)">
              <fa-icon class="yellow action-icon" [icon]="['fas','pause']"></fa-icon>
            </div>
            <div class="d-inline-block ml-4" ngbPopover="Realtime Measurement" triggers="mouseenter:mouseleave" (click)="getSensorMeasurement(sensor)" *ngIf="sensor.state !== 0">
              <fa-icon class="purple action-icon" [icon]="['fas','flask']"></fa-icon>
            </div>
            <div class="d-inline-block ml-4" ngbPopover="Unlink Sensor" triggers="mouseenter:mouseleave" (click)="unlinkSensor(sensor)">
              <fa-icon class="orange action-icon" [icon]="['fas','unlink']"></fa-icon>
            </div>
          </td>
        </tr>
        <tr *ngIf="activeSensors && activeSensors.length === 0">
          <td colspan="4" class="text-center">
            <i> No Sensors are linked to this plant.</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card">  
  <div class="card-header">
    <b>Available Sensors</b><span class="small ml-2">You can link these sensors to this plant</span>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th (click)="availableSensorsTable.toggleSort('type')" width="17%" class="sorting-header text-center">
            Type 
            <fa-icon class="ml-2" *ngIf="availableSensorsTable.isSortedBy('type')" [icon]="availableSensorsTable.getSortIcon('type')"></fa-icon>
          </th>

          <th (click)="availableSensorsTable.toggleSort('name')" width="*" class="sorting-header">
            Name 
            <fa-icon class="ml-2" *ngIf="availableSensorsTable.isSortedBy('name')" [icon]="availableSensorsTable.getSortIcon('name')"></fa-icon>
          </th>
          <th (click)="availableSensorsTable.toggleSort('state')" width="15%" class="sorting-header text-center">
            Status 
            <fa-icon class="ml-2" *ngIf="availableSensorsTable.isSortedBy('state')" [icon]="availableSensorsTable.getSortIcon('state')"></fa-icon>
          </th>
          <th width="33%" class="text-center">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sensor of availableSensors">
          <td class="text-center">
            <div [ngbPopover]="sensor.typeLabel" triggers="mouseenter:mouseleave"
            >
              <app-custom-icon *ngFor="let icon of sensor.typeIcons" [iconName]="icon"></app-custom-icon>
            </div>
          </td>
          <td>{{sensor.name}}</td>
          <td class="text-center">
            <div [ngbPopover]="sensor.stateLabel" triggers="mouseenter:mouseleave">
              <fa-icon [icon]="stateToIcon(sensor.state)"></fa-icon>
            </div>
          </td>
          <td class="text-center">
            <div (click)="linkSensor(sensor)" class="d-inline-block ml-4" ngbPopover="Link Sensor" triggers="mouseenter:mouseleave">
              <fa-icon class="blue action-icon" [icon]="['fas','link']"></fa-icon>
            </div>
            <div class="d-inline-block ml-4" ngbPopover="Delete Sensor" triggers="mouseenter:mouseleave" (click)="deleteSensor(sensor)">
              <fa-icon class="red action-icon" [icon]="['fas','trash-alt']"></fa-icon>
            </div>
          </td>
        </tr>
        <tr *ngIf="availableSensors && availableSensors.length === 0">
          <td colspan="4" class="text-center">
            <i>No Sensors are free to be linked.</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>