.canvas-container {

  margin: auto;
  position: relative;
  padding: 0;

  .chartUI{

    position: absolute;
    left: 0;
    top: 0;
    // border: 1px solid black;
    pointer-events: none;

  }

}

.plant-icon {

  width: 80%;
  display: block;
  margin: .5em auto;

}

.plant-description{
  // font-style: italic;
  // font-size: .9em;
}