<div class="container" *ngIf="plant">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4 mb-4">Detail View</h1>
      <div class="btn-group btn-group-sm float-right" role="group" aria-label="Timeframe">
        <button type="button" class="btn btn-secondary {{activeClass(1)}}" (click)="updateChartScope(1)">1 Day</button>
        <button type="button" class="btn btn-secondary {{activeClass(7)}}" (click)="updateChartScope(7)">7 Days</button>
        <button type="button" class="btn btn-secondary {{activeClass(30)}}" (click)="updateChartScope(30)">30 Days</button>
        <button type="button" class="btn btn-secondary {{activeClass(90)}}" (click)="updateChartScope(90)">90 Days</button>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-offset-1 col-lg-10 col-12 col-offset-0 canvas-container">
        <canvas #baseChart>
        </canvas>
        <canvas #chartUI class="chartUI">
        </canvas>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
    
      <div class="card mb-3">
        <div class="card-header">
          <b>{{plant.name}}</b>
          <fa-icon [icon]="['fas','edit']" class="blue float-right action-icon"></fa-icon>
        </div>
        <div class="card-body">
          <p class="card-text">{{plant.description}}</p>
        </div>
      </div>

      <app-health-input [plant]="plant" (postedHealth)="newHealthEntry($event)"></app-health-input>

    </div>
    <div class="col-md-8">
      <app-sensor-manager *ngIf="plant" (change)="updateSensors($event)" [plant]="plant"></app-sensor-manager>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <button class="btn btn-primary" [routerLink]="'/'">Go Back</button>
    </div>
  </div>
</div>
<div class="container" *ngIf="!plant">
  <div class="row mt-3">
    <div class="col text-center">
      <h4>Loading Plant data...</h4>
    </div>
  </div>
</div>
